fastapi==0.115.12
uvicorn[standard]==0.34.2
sqlalchemy[asyncio]==2.0.40
asyncpg==0.30.0
alembic==1.15.2
redis[hiredis]==5.3.0
pydantic==2.11.3
pydantic-settings==2.9.1
openai==1.82.0
cnlunar==0.2.4
python-dotenv==1.1.0
httpx==0.28.1
